th.overview-player-header {
    position: relative;
    height: 70px;
    background: none !important;
}

.overview-player-label {
    position: absolute;
    transform: rotate(-50deg);
    bottom: -2px;
    width: 0;
}